extends ./app/base.pug

//- Required variables (please override to suit your needs)
block vars
  -
    var author = 'Tallys and Paulo and Dylan and Luan and Ricardo and Henrique';
    var title = 'Empurrando Juntos (Pushing Together): A platform for social participation';


block slides
  +slide('-1000', '-1500')
    h1 Have you heard about bubbles of opinion?
    ul.small
      li A minor part of people are engaged in online discussions, usually the activists
      li Recommendation systems, specialized in our profiles control what we see. Black box engines oriented by business interests
      li The voice of minorities is usually despised

  +slide()
    h1 Bubbles, bubbles everywhere
    ul.small
      li Most of us already witnessed any extremist person in our social networks
      img(src="images/religion-extremist.jpg", style='width: 500px; margin-left: 85px')

  +slide()
    ul.small
      li Also, fake news are all around
      img(src="images/einsten.jpg", style='width: 510px; margin-left: 85px')

  +slide()
    ul.small
      li Common thread/forum architectures does not facilitate the discussion and communication<sup>*</sup>
      img(src="images/fb-thread.png", style='width: 510px; margin-top: 30px; margin-left: 85px')

    p.tiny.right <sup>*</sup>Too much effort to process all generated information 


  +slide()
    h1 From the dust came Polis
    ul.small
      li A web tool that uses A.I. to show different opinion groups in a discussion
      li Applies clustering algorithms to identify the opinion groups

  +slide()
      p Based on crowdsource participation
      img(src="images/polis1.png", style='width: 710px; margin-top: 30px;')

  +slide()
      p Majority/Minority are shown in a graph
      img(src="../../images/polis3.png", style='width: 600px; margin-left: 90px; margin-top: 10px')

  +step('0', '0', '4')#title
    h2.center Empurrando Juntos is a extension on top of Polis API

  +step('850', '3000', '5', {rotate: 90})#try
    p What we want?
    ul.small
      li Go beyond Polis with new features
      li Build a platform to increase interaction between different opinion groups
      li Blow the bubbles of opinion

  +step('3500', '4100', '5', {rotate: 90})
    p How?
    ul.small
      li We obtain opinion groups from Polis
      li Using gamification concepts we created <b><u>the Push</u></b>
      li Push owners create events and send messages to other groups

  +step('3500', '8100', '5', {rotate: 90})
    p Who gets the push?
      ul.small
        li We initially identified three possible profiles

      img(src="images/userprofiles.png", style='width: 930px; margin-top: 30px;')


  +step('2825', '2325', '1', {rotate: '180', z: -3000}).hide
    p.center Our Architecture
    p
      img(src="images/polis4.png", style='margin-top:30px; width: 600px')
    span(style="font-size: 0.5em").left
      <sup>*</sup>A React-native mobile app

    p(style="font-size: 0.5em").right
      <sup>*</sup>And a NodeJS back-end server

  +slide().hide
    h1 How it works
    ul(style="font-size: 0.8em")
      li We track our users on Polis with an external id (xID)
      li Polis conversations can be easily embed with Javascript snippets
      li EJ calculates profiles based on conversation data


  +slide()
    h1 Final Remarks
    ul.small
      li EJ arise as a potential tool to bridge dialog between society and state
      li The Push resource tries to bring interaction between groups, mitigating
      the bubbles problem
      li We are now working on a research to evolve the clustering service

  +slide('3000', '500', '1', {rotate: 90})
    h1.big Colaboration is welcome!
    p Our repositories are available at:
    ul.small
      li github.com/cidadedemocratica/pushingtogether
      li github.com/cidadedemocratica/app_pushingtogether

