extends ./app/base.pug

//- Required variables (please override to suit your needs)
block vars
  -
    var author = 'Tallys and Paulo and Dylan and Luan and Ricardo and Henrique';
    var title = 'Empurrando Juntos (Pushing Together): A platform for social participation';


block slides
  +slide('-1000', '-1500')
    <div class="header-container">
      <div style='margin-bottom: 0px; display: flex; align-items: center;justify-content: center;'>
        <div><img src='images/unb-logo.png' style='width: 80px;margin-right: 10px;'></div>
        <div><p class="small">University of Brasília</p></div>
      </div>
      <div style='margin-bottom: 0px; margin-top: -6px; display: flex; align-items: center; justify-content: space-around'>
        <div><img src='images/lappis.png' style='width: 310px;'></div>
        <div><img src='images/cidade-democratica.png' style='width: 200px;'></div>
      </div>
    </div>
      h1(style='margin-top: -40px; text-align: center; border-bottom: 1px solid;') Empurrando Juntos (EJ) <br> A platform for social participation

    <div class="authors-container">
      <div>
        <div><img src='images/Tallys.png' style='width: 110px;border-radius: 50px;'></div>
        <div><p style='font-size: 18px'> Tallys Martins</p></div>
      </div>
      <div>
        <div ><img src='images/Dylan.png' style='width: 110px;border-radius: 50px;'></div>
        <div><p style='font-size: 18px'> Dylan Guedes</p></div>
      </div>
      <div >
        <div ><img src='images/Luan.png' style='width: 110px;border-radius: 50px;'></div>
        <div><p style='font-size: 18px'> Luan Guimarães </p></div>
      </div>
      <div>
        <div><img src='images/Poppi.png' style='width: 110px;border-radius: 50px;'></div>
        <div><p style='font-size: 18px'> Ricardo Poppi </p></div>
      </div>
      <div>
        <div><img src='images/Henrique.png' style='width: 110px;border-radius: 50px;'></div>
        <div><p style='font-size: 18px'> Henrique Parra </p></div>
      </div>
      <div>
        <div><img src='images/Paulo.jpg' style='width: 110px;border-radius: 50px;'></div>
        <div><p style='font-size: 18px'> Paulo Meirelles </p></div>
      </div>
    </div>


  +slide()
    h1 Have you heard about bubbles of opinion?
    ul.small
      li A minor part of people get engaged in online discussions, usually the activists
      li Recommendation systems, specialized in our profiles control what we see. Black box engines oriented by business interests
      li.like We are hostages of what we <img src='images/like.svg' style='width: 100px;'> and <img src='images/follow.png' style='width: 124px;'>

  +slide()
    h1 Bubbles, bubbles everywhere
      img(src="images/trumpVShilary.jpg", style='width: 730px;margin-left: 20px; margin-top: 30px;')

  +slide()
    h1 Bubbles, bubbles everywhere
    ul.small
      li Extremist people, blind to other's opinions
      img(src="images/religion-extremist.jpg", style='width: 530px; margin-left: 85px; margin-top: 30px;')

  +slide()
    ul.small
      li Also, fake news are all around
      img(src="images/einsten.jpg", style='width: 510px; margin-left: 85px; margin-top: 30px;')

  +slide()
    ul.small
      li And platforms that make a barrier for discussion and communication with thread/forum architectures
      img(src="images/fb-thread.png", style='width: 510px; margin-top: 30px; margin-left: 85px')

  +slide()
    h1 So, from the dust came Polis
    ul.small
      li A web tool that uses A.I. to show different opinion groups in a discussion
      li Applies clustering algorithms to identify the opinion groups

  +slide()
      p Based on crowdsource participation
      img(src="images/polis1.png", style='width: 710px; margin-top: 30px;')

  +slide()
      p Majority/Minority are shown in a graph
      img(src="../../images/polis3.png", style='width: 600px; margin-left: 90px; margin-top: 10px')

  +step('0', '0', '4')#title
    span.try But we want to go
    h1 beyond<sup>*</sup>
    br
    span.footnote <sup>*</sup>Because Polis stops on visualization
    br

  +step('850', '3000', '5', {rotate: 90})#try
    p What we want?
    ul.small
      li Bring new features to participation
      li Build a platform to increase interaction between the different opinion groups
      li Blow the bubbles of opinion

  +step('3500', '4100', '5', {rotate: 90})
    p How?
    ul.small
      li We obtain opinion groups from Polis
      li Using gamification concepts we created <b><u>the Push</u></b>
      li Push owners will be able to create events and send messages to other groups

  +step('3500', '8100', '5', {rotate: 90})
    p Who gets the push?
      ul.small
        li We initially identified three possible profiles

      img(src="images/userprofiles.png", style='width: 930px; margin-top: 30px;')


  +step('2825', '2325', '1', {rotate: '180', z: -3000}).hide
    p.center Our Architecture
    p
      img(src="images/polis4.png", style='margin-top:30px; width: 600px')
    span(style="font-size: 0.5em").left
      <sup>*</sup>A React-native mobile app

    p(style="font-size: 0.5em").right
      <sup>*</sup>And a NodeJS back-end server

  +slide().hide
    h1 How it works
    ul(style="font-size: 0.8em")
      li We track our users on Polis with an external id (xID)
      li Polis conversations can be easily embed with Javascript snippets
      li EJ calculates profiles based on conversation data


  +slide()
    h1 Final Remarks
    ul.small
      li EJ arise as a potential tool to bridge dialog between society and state
      li The Push resource tries to bring interaction between groups, mitigating the bubbles problem
      li We are now working on a research to evolve the clustering service

  +slide('3000', '500', '1', {rotate: 90})
    h1.big Colaboration is welcome!
    p Our repositories are available at:
    ul.small
      li github.com/cidadedemocratica/pushingtogether
      li github.com/cidadedemocratica/app_pushingtogether

